.main-content {
    width: 100%;
    padding: 40px 30px;
    margin-left: 270px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    background-color: #f8f8f8;
}

header {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.technician-name{
    font-size: 20px;
}.technician-name h3{
    color: var(--primary-color);
}.technician-name span{
    color: var(--text-color);
}

.card{
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}.card .actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}.card .actions h2{
    font-size: 20px;
    font-weight: 600;
}.card .actions a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
}.card .actions i{
    margin-left: 7px;
}
.card table{
    border-collapse: collapse;
    background-color: #f8f8f8;
    border-radius: 10px;
}.card table th{
    padding: 15px 25px;
    font-weight: 600;
    color: #969696;
}.card table td{
    padding: 15px 25px;
    background-color: white;
    border-top: solid #f8f8f8 2px;
}.card table td button{
    border: none;
    border-radius: 7px;
    color: white;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--primary-color);
}
.card table td a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer; 
    
}.card table td a:hover i{
    transform: scale(1.3);
    transition: 0.3s ease;
}


.stats {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    gap: 30px;
}.stats .stat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 35px;
    border-radius: 10px;
    background-color: var(--white);

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}.stats .stat .info p{
    font-weight: 600;
    color: var(--lighted-text-color);
}.stats .stat .progress{
    text-align: center;
}.stats .stat .progress i{
    font-size: 35px;
}

.appointments{
    width: 100%;    
    display: flex;
    gap: 30px;
}

.appointments-requests{
    width: 50%;
}.appointments-requests table{
    width: 100%;
    text-align: left;
}.empty-message{
    /* background-color: #969696; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    color: #cacaca;
    user-select: none;
}.empty-message img{
    width: 60px;
    margin-bottom: 15px;
}




.appointment-summary{
    width: 50%;

}.appointment-summary .summary-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    height: calc(100% - 40px);

}.appointment-summary .summary-cards .summary-card{
    width: calc(50% - 10px);
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 35px;
    border-radius: 10px;
    background-color: var(--white);

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}.summary-card i{
    font-size: 45px;
}.summary-card p{
    font-weight: 600;
    color: var(--lighted-text-color);    
}



.upcoming-appointments{
    width: 100%;
}.upcoming-appointments table{
    width: 100%;
    text-align: left;
}.upcoming-appointments a{
    cursor: pointer;
}.upcoming-appointments td a i{
    font-size: 25px;
}.upcoming-appointments .delete-appointment{
    color: #d76161;
}

.upcoming-appointments .empty-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: #aaaaaa;
    user-select: none;
}.upcoming-appointments .empty-message i{
    font-size: 40px;
    margin-bottom: 15px;
}


.progress.revenue, .upcoming{
    color: var(--primary-color);
}

.repairs, .pending{
    color: #d76161;
}

.visitors, .completed{
    color: #279f51;
}

.reviews, .request{
    color: #ffa000;
}
