.main-content {
    width: 100%;
    height: 100%;

    margin-left: 270px;

    background-color: #f8f8f8;
    color: var(--text-color);
}

header {
    width: 100%;
    margin-bottom: 10px;
}.repair-navigation {
    width: 100%;
    margin-bottom: 30px;
}

.tab-content {
    width: 100%;
    height: 82%;
}

/* ---------------------------- */

.body {
    display: flex;
    padding: 25px 30px;
    height: 100vh;
    background-color: #f5f5f5;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
} .chat-container .sidebar {
    margin-left: 25px ;
    width: 310px;
    border-radius: 7px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: rgba(190, 197, 204, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

.sidebar .search-bar {
    padding: 15px;
    border-bottom: 1px solid #ddd;
} .sidebar .search-bar h2{
    margin-bottom: 10px;
} .sidebar .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

} .sidebar .messages {
    flex: 1;
    overflow-y: auto;
    
}

.messages .contact {
    display: flex;
    align-items: center;
    padding: 13px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

}

.messages .contact.active {
    background-color: #f5f5f5;

}

.messages .contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #7B5CAD;

} .messages .contact-info {
    flex: 1;

} .messages .contact-info .name{
    display: flex;
    align-items: center;
    justify-content: space-between;

} .messages .contact-info h4 {
    margin: 0;
    font-size: 17px;

}.messages .contact-info p {
    margin: 0;
    font-size: 15px;
    color: #888;

} .contact .time {
    font-size: 14px;
    color: #888;

}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-area .chat-header {
    display: flex;
    align-items: center;
    padding: 13px 15px;
    border-radius: 7px;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(190, 197, 204, 0.2) 0px 8px 24px;
    background-color: #fff;

}

.chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #7B5CAD;

} .chat-header h2 {
    margin: 0;
    font-size: 18px;

}

.messages-container {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
} .message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
} .message.sent {
    justify-content: flex-end;
} .message.sent p {
    background-color: var(--primary-color);
    color: white;
} .message.received p {
    background-color: #fff;
} .message p {
    padding: 15px;
    border-radius: 10px;
    max-width: 70%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
} .message .time {
    font-size: 12px;
    color: #888;
    margin-left: 10px;
}

.message-input {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
    border-top: 1px solid #ddd;
    box-shadow: rgba(190, 197, 204, 0.2) 0px 8px 24px;
    background-color: #fff;
}
.message-input .emoji{
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.message-input input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-right: 10px;
}
.message-input button {
    padding: 15px 25px;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}