.dashboard{
    height: 100vh;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    margin-left: 270px;

    background-color: #f8f8f8;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

header {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
.technician-name{
    font-size: 20px;
}.technician-name h3{
    color: var(--primary-color);
}.technician-name span{
    color: var(--text-color);
}

.repair-navigation {
    width: 100%;
    margin-bottom: 30px;
}

.tab-content {
    width: 100%;
    height: 82%;
}

/* ---------------------------- */

.reviews-summary {
    border-radius: 8px;
    background-color: white;
    padding: 25px 40px;
    margin-bottom: 30px;
    user-select: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
}.reviews-summary h3 {
    margin-bottom: 10px;
}

.review-details{
    display: flex;

}.review-details .overall-rating{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;

}
.overall-rating .rating-number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -10px;

}.overall-rating .stars {
    display: flex;
    gap: 7px;

}.overall-rating .star, .star-half {
    color: #f7e700;
    font-size: 22px;

}.overall-rating .total-reviews {
    color: #666666;
}

.rating-breakdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

}.rating-breakdown .rating-bar {
    display: flex;
    align-items: center;

}
.rating-bar span:first-child {
    width: 80px;

}.rating-bar .bar {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    height: 10px;
    position: relative;

}.rating-bar .bar .filled {
    height: 100%;
    background-color: #f7e700;

}

/* --------------------------------- */

.individual-reviews {
    border-radius: 8px;
    padding: 0px 40px 25px;
    background-color: white;
    height: 100%;
    overflow-x: auto;
}.individual-reviews .review {
    border-top: 1px solid #eeeeee;
    padding: 30px 0;
}

.review .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}.review-header .review-date {
    color: #666666;
    font-size: 14px;
    font-weight: 500;

}.review-header .stars{
    font-size: 15px;
    color: #f7e700;
    user-select: none;
}

.review .review-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.review-body .reviewer-info {
    display: flex;
    align-items: center;

}.reviewer-info .reviewer-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    margin-right: 15px;

}.reviewer-info .reviewer-details {
    display: flex;
    flex-direction: column;

}.reviewer-info .reviewer-name {
    font-weight: bold;

}.reviewer-info .reviewer-title {
    color: #666666;
    font-size: 14px;

}


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    margin-top: 20px;
}
.pagination a{
    color: #7B5CAD;
    background-color: #EEE3FF;
    font-size: 14px;
    font-weight: 600;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    border-radius: 7px;
}.pagination a.active{
    color: white;
    background-color: #7B5CAD;
    transform: scale(1.1);
}
.pagination a:hover{
    transform: scale(1.2);
}

.empty-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    user-select: none;
    height: 100%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
} .empty-message i{
    font-size: 40px;
    margin-bottom: 15px;
    border-radius: 8px;
}