.main-content {
    width: 100%;
    height: 100%;

    padding: 40px 30px;
    margin-left: 270px;

    background-color: #f8f8f8;
    /* background-color: #666666; */
    color: var(--text-color);
}

header {
    width: 100%;
    margin-bottom: 10px;
}.repair-navigation {
    width: 100%;
    margin-bottom: 30px;
}

.tab-content {
    width: 100%;
    height: 82%;
}

/* ---------------------------- */

form {
    background-color: var(--white);
    padding: 20px 25px;

}form h3{
    margin-bottom: 20px;

}form h3 span{
    color: white;
    padding: 5px 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 14px;
    margin-right: 10px;
}

.form-section{
    margin-bottom: 30px;
}.form-section label{
    color: var(--lighted-text-color);
}.form-section input{
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: solid #D9D9D9 2px;
    width: 100%;
}.form-section select{
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: solid #D9D9D9 2px;
    width: 100%;
}


.fs-1 .form-details{
    display: flex;
    gap: 20px;
    width: 100%;

}
.fs-1 .form-details .form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}.fs-1 .form-details input{
    margin-top: 10px;
}


.fs-3 .form-group{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 20px;
}.fs-3 .form-group .form-details{
    display: flex;
    align-items: center;    
    gap: 10px;

    padding: 10px 20px;
    font-size: 15px;
    border-radius: 7px;
    border: solid #D9D9D9 2px;

    font-weight: 600;
    cursor: pointer;
}.fs-3 .form-group .form-details i{
    color: var(--primary-color);
    font-size: 18px;
}
.fs-3 .form-group button{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 7px;

    color: var(--primary-color);
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;
}

.fs-4 .form-details .form-group{
    display: flex;
    flex-direction: column;
}.fs-4 .form-details .form-group textarea{
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: solid #D9D9D9 2px;
    margin-bottom: 10px;

    width: 50%;
    max-width: 50%;
    min-width: 30%;

    height: 80px;
    max-height: 400px;
    min-height: 80px;

}.fs-4 .form-details button{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 7px;

    color: var(--primary-color);
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;
}

.fs-5 table td{
    padding-bottom: 7px;
}.fs-5 table td, label{
    font-weight: 500;
}
.fs-5 .status{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 100px;
}.fs-5 .time{
    display: flex;
    align-items: center;
    gap: 15px;
}.fs-5 .time input{
    padding: 10px 25px;
}

.fs-6 .form-group{
    display: flex;
    flex-direction: column;
}.fs-6 .form-group textarea{
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: solid #D9D9D9 2px;
    margin-bottom: 10px;

    width: 50%;
    resize: vertical;

    min-height: 150px;
    max-height: 250px;
}

#about-description{
    height: 80px;
    max-height: 400px;
    min-height: 180px;
}#about-header{
    height: 60px;
    max-height: 400px;
    min-height: 60px;
}

.form-actions{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}.form-actions button{
    padding: 10px 25px;
    border-radius: 7px;
    border-width: 2px;
    border-color: var(--primary-color);
    border-style: solid;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}.form-actions .save-btn{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}