@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --highlight: #9147F2;
    --primary-color: #7B5CAD;
    --dark-grey: #666666;
    --light-grey: #AAAAAA;
    --white: #FFFFFF;
    --text-color: #1E1E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;

}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    text-align: center;
    width: 30%;
    height: 80%;
    padding: 0 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 40px;
    font-size: 40px;
    color: #333;
}

h1 span {
    color: var(--highlight);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

.input-group{
    display: flex;
    gap: 10px;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me label {
    display: flex;
    align-items: center;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
}

button[type="submit"]:hover {
    background: #532d92;
}

.signup-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.error-message{
    width: 100%;
    color: #f24747;
    padding: 10px;
    border: solid 2px #f24747;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: #fde7e7;
}