@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --highlight: #9147F2;
    --primary-color: #7B5CAD;
    --secondary-color: #EEE3FF;
    --dark-grey: #666666;
    --light-grey: #f0f0f0;
    --white: #FFFFFF;

    --text-color: #383838;
    --lighted-text-color: #999999;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container-shop {
    padding: 20px 15%;
}
    
.breadcrumbs {
    font-size: var(--font-paragraph);
    font-weight: 500;

    color: var(--text-color);

    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}.breadcrumbs a {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 5px;
}
    
.service-details {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.service-details .left{
    display: flex;  
    flex-direction: column;
    gap: 40px;
    width: 45%;
}

.service-details .image-gallery {
    display: flex;  
    gap: 20px;
}
.service-details .image-gallery span {
    width: 100%;
    border-radius: 5px;
    background-color: #dddddd;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.service-details .image-gallery .thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 20%;
}
.service-details .image-gallery .thumbnails span {
    background-color: #dddddd;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
    /* .service-details .image-gallery .thumbnails img:hover,
    .service-details .image-gallery .thumbnails img.active {
        border-color: var(--primary-color);
    } */
    
.service-details .details {
    flex: 1;
}.service-details .details p {
    font-size: var(--font-paragraph);
}.service-details .details h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 5px;
    margin-bottom: 5px;
}
    
.service-details .details .header{
    display: flex;
    align-items: center;
    gap: 15px;
}.service-details .details .header p{
    font-size: var(--font-paragraph);
}.rating {
    display: flex;
    align-items: center;
    gap: 7px;
}.repaired{
    display: flex;
    align-items: center;
    gap: 10px;
}.views{
    display: flex;
    align-items: center;
    gap: 10px;
}
    
.service-details .details .rating .stars {
    color: #FFD700;
    font-size: var(--font-paragraph);

}.service-details .details .rating .reviews {
    color: var(--text-color);
    font-size: var(--font-paragraph);
}

.service-details .details .mastery{
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
    font-size: var(--font-icon-large);
    color: var(--primary-color);

    border-bottom: solid;
    border-width: 2px;
    border-color: #eeeeee;
}   

    .mastery img{
        width: 35px;
    }   
    .details-info{
        margin-top: 15px;
    }
    .details-info p {
        margin-bottom: 6px;
        font-weight: 700;
    }
    
    .details-info ul {
        list-style: none;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .details-info ul li{
        line-height: 30px;
        font-size: var(--font-paragraph);
    }
    .details-info ul li:before {
        content: "•";
        color: var(--primary-color);
        font-size: 25px;
        padding-right: 10px;
    }
    
    .service-details .details .buttons {
        margin-top: 20px;
        display: flex;
        justify-content: end;
        gap: 10px;
    }
    
    .service-details .details .buttons button {
        background-color: transparent;
        color: var(--primary-color);
        border: solid 2px;
        padding: 10px 25px;
        cursor: pointer;
        border-radius: 7px;
        font-size: var(--font-paragraph);
        font-weight: 500;
    }.service-details .details .buttons button.highlight {
        color: #fff;
        border: none;
        background-color: var(--primary-color);
    }


/* -------------------------------------------------------------------------------------------------------------------------------------------*/

.container-description {
    padding: 40px 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.review-summary {
    display: flex;
    flex: 1.1;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 40px;
    color: var(--white);
}

.review-summary .rating {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.review-summary .rating-score {
    display: flex;
    align-items: center;
    font-size: 68px;
    font-weight: 600;
}.review-summary .rating-score p{
    margin-top: 25px;
    font-weight: 400;
    font-size: 15px;
    color: #dedede;
}

.review-summary .rating-stars {
    color: #fff847;
    font-size: 25px;
    display: flex;
    gap: 10px;
}.review-summary .rating-reviews {
    font-size: 14px;
    font-weight: 400;
    color: #dedede;
}

.rating-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}.rating-bar .upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-bar .upper .star-scale {
    color: var(--white);
    font-size: 10px;
    display: flex;
    gap: 5px;
}


.rating-bar .bar {
    height: 5px;
    background-color: #a38dc6;
    border-radius: 5px;
    position: relative;
}
.rating-bar .bar .filled {
    background-color: var(--white);
    height: 100%;
    border-radius: 5px;
}
.rating-bar .rating-count {
    font-size: 14px;
    color: var(--light-grey)
}

.container-description .description{
    flex: 5;
    z-index: auto;
    height: 480px;
}
.tabs {
    display: flex;
    gap: 10px;
    font-size: var(--font-label);
    font-weight: 500;
    background-color: #f9f9f9;
    color: var(--lighted-text-color);
    border-radius: 7px;
    margin-bottom: 15px;
}
.tabs .tab {
    padding: 20px 30px;
    /* border: 1px solid var(--border-color); */
    cursor: pointer;
}

.tabs .tab.active {
    color: var(--primary-color);
    margin: 0 20px;
    font-weight: 700;
    border-bottom: solid;
    border-width: 4px;
}
.tab-content{
    display: none;
}
.tab-content.active {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;
}

.tab-content h2 {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 20px;
}
#reviews h2{
    display: none;
}

.tab-content p {
    margin-bottom: 20px;
}

/* .content img {
    display: flex;
    border-radius: 5px;
    height: 220px;
    background-color: var(--lighted-text-color);
} */

.review{
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.review .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}.review-header .review-date {
    color: #666666;
    font-size: var(--font-paragraph);
    font-weight: 500;

}.review-header .stars{
    font-size: var(--font-paragraph);
    color: #f7e700;
    user-select: none;
}

.review .review-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.review-body .reviewer-info {
    display: flex;
    align-items: center;

}.reviewer-info .reviewer-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    margin-right: 15px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}.reviewer-info .reviewer-details {
    display: flex;
    flex-direction: column;

}.reviewer-info .reviewer-name {
    font-weight: bold;

}.reviewer-info .reviewer-title {
    color: #666666;
    font-size: 14px;

}

.modal{
    display: none;
}
.modal.active{
    position: fixed;
    right: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.452);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 90px;

    z-index: 9999;
}
.image-preview-container{
    width: 80%; 
    height: 80vh;
    margin: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    border-radius: 7px;
}

/* CLOSE BUTTON */
.icon-close{
    top: 20px;
    right: 20px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    padding: 0;
    color: var(--text-color);

    border: none;
}

@media(max-width:1825px){
    .container-shop {
        padding: 20px 10%;
    }

    .container-description {
        padding: 40px 10%;
    }
}

@media(max-width:1496px){
    .container-shop {
        padding: 20px 5%;
    }
    .container-description {
        padding: 40px 5%;
    }
}

@media(max-width:1060px){
    .service-details .image-gallery {
        flex-direction: column;
    }
    .service-details .image-gallery span {
        height: 350px;
    }
    
    .service-details .image-gallery .thumbnails {
        flex-direction: row;
        width: 100%;
    }

    .rating {
        font-size: 13px;
    }.repaired{
        font-size: 13px;
    }.views{
        font-size: 13px;
    }
        
    .service-details .details .rating .stars {
        font-size: 13px;
    }
    
    .service-details .details .mastery{
        display: flex;
        align-items: center;
        padding: 20px 0;
        gap: 15px;
        font-size: 35px;
        color: var(--primary-color);
    
        border-bottom: solid;
        border-width: 2px;
        border-color: #eeeeee;
    }   
}

@media(max-width:900px){
    .service-details {
        flex-direction: column;
    }
    .service-details .left{
        width: 100%;
    }
    .service-details .details {
        width: 100%;
    }

}

@media(max-width:503px){
    .service-details .details .header{
        display: flex;
        align-items: center;
    }.repaired span{
        display: none;
        font-size: 17px;
    }.views span{
        display: none;
        font-size: 17px;
    }
}

@media(max-width:379px){
    .service-details .image-gallery span {
        height: 300px;
    }
    .service-details .image-gallery .thumbnails span {
        height: 70px;
    }
}


  


@media(max-width:1113px){
    .tabs {
        font-size: 16px;
    }
    .tabs .tab {
        padding: 20px 20px;
    }
    .tabs .tab.active {
        font-size: 17px;
        margin: 0 10px;
    }
}

@media(max-width:953px){
    .container-description {
        display: flex;
        flex-direction: column;
    }
    .review-summary {
        flex-direction: row;
        align-items: center;
        width: 100%;
 
    }
    .review-summary .rating {
        padding: 45px 15px;
    }

    .review-summary .rating-breakdown {
        width: 100%;
    }

    .tab-content{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        overflow-y: auto;
        height: 100%;
    }
    .tabs {
        display: none;
    }

    #reviews h2{
        display: flex;
    }

    .review{
        border: 2px solid var(--border-color);
        padding: 20px;
        border-radius: 7px;
    }
    
}


@media(max-width:627px){
    .tabs {
        font-size: 15px;
    }
    .tabs .tab {
        padding: 15px 10px;
    }
    .tabs .tab.active {
        font-size: 16px;
        margin: 0 10px;
    }
}

@media(max-width:450px){
    .review-summary {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .review-summary .rating {
        padding: 0 0;
    }
}