.push-notification {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: -170px; /* Start off-screen */
    right: 20px;
    border: solid 2px #43ac5fb0;
    padding: 25px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    color: var(--text-color);
    opacity: 0; /* Start hidden */
    transition: top 0.5s ease, opacity 0.5s ease; /* Animate both top and opacity */
    gap: 20px;
}

.push-notification.active {
    top: 20px; /* Slide to visible position */
    opacity: 1; /* Make it visible */
}

.push-notification.success{
    background-color: #e8ffee;
    border: solid 2px #43ac5fb0;
}.push-notification.danger{
    background-color: #ffe8e8;
    border: solid 2px #df6060;
}

.notification-message{
    font-size: 17px;
    user-select: none;
}
.push-notification p{
    margin-top: 5px;
    font-size: 16px;
    width: 280px;
}

.push-notification .fa-bell.success{
    background-color: #34A853;
    padding: 11px 12px;
    border-radius: 8px;
    color: white;
}.push-notification .fa-bell.danger{
    background-color: #EB4335;
    padding: 11px 12px;
    border-radius: 8px;
    color: white;
}

.push-notification #close-notification{
    font-size: 25px;
    cursor: pointer;;
    margin-top: 2px;
}
