.metrics-container{
    display: flex;
    justify-content: space-between;
}

.metric-card{
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(233, 233, 233);
} .metric-card h3{
    font-size: 30px;
    font-weight: 600;
} .metric-card h4{
    font-weight: 600;
}.metric-card p{
    font-weight: 500;
    color: var(--lighted-text-color);
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "c1 c2 c3 c4 c5"
    "c6 c6 c7 c7 c7"
    "c8 c8 c7 c7 c7";
    gap: 25px;
    height: 100%;
}

.container{
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.metric{
    padding: 40px 0;
}.metric h3{
    font-size: 30px;
    font-weight: 600;
}.metric p{
    font-weight: 500;
    color: var(--lighted-text-color);
}

.c1{
    grid-area: c1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c2{
    grid-area: c2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c3{
    grid-area: c3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c4{
    grid-area: c4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c5{
    grid-area: c5;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.c6{
    grid-area: c6;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.c7{
    position: relative;
    grid-area: c7;
    background-color: white;
}

.c8{
    grid-area: c8;
    box-shadow: #63636333 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.notification-item{
    background-color: #f8f8f8;
    padding: 15px 25px;
    border: solid #D9D9D9 2px;
    border-radius: 8px;
}
.notification-header{
    display: flex;
    justify-content: space-between;
}
.notification-header .title{
    font-size: 20px;
    font-weight: 600;
}.notification-header .sub-title{
    font-weight: 500;
    color: var(--lighted-text-color);
}.notification-header .right{
    display: flex;
    gap: 15px;
    font-size: 20px;
}
.notification-content{
    margin-top: 15px;
}

.usermanagement-list{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.user-card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    height: 100%;
    border-radius: 7px;
    box-shadow: #63636333 0px 2px 8px 0px;

} .user-card i{
    font-size: 50px;
} .user-status{
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    gap: 20px;
    box-shadow: #63636333 0px 2px 8px 0px;
} .status{
    display: flex; 
    flex-direction: column;
    align-items: center;
}.status p{
    font-weight: 600;
    color: var(--lighted-text-color);
    list-style-type: disc;
}.status h4{
    font-size: 20px;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}.container-header a{
    font-size: 20px;
}

